/* tr[data-type="total"] .sapMListTblCell {
    background-color: #ffff00 !important;
}
tr[data-type="grand"] .sapMListTblCell {
    background-color: #ff0000 !important;
    color: white !important; 
} */
tr[data-type="total"] .sapMListTblCell {
    background-color: #f1ef40c0 !important; 
    border-bottom: 1px solid #f1ef40c0 !important;
}

tr[data-type="grand"] .sapMListTblCell {
    background-color: #3b8ff0bd !important; 
    border-top: 2px solid #0070f2 !important; 
    border-bottom: 2px solid #0070f2 !important;
}


tr[data-type="grand"] .sapMListTblCell .sapMText {
    font-weight: bold !important;
    color: #030303 !important;
}